
body{
    display: flex;
    font-size: 16px;
    font-family: sans-serif;
    flex-direction: column;
    flex-wrap: wrap;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    padding:20px; 
}

header ul {
    display: flex;
    list-style-type: none;
    
    
}

header ul li {
    display: flex;
    margin-right: 60px;
    font-family: sans-serif;
        font-size: 25px;
}

h1 {
    display: inline;
    font-size: 50px; 
}


.pic {
    max-height: 300px;
}
.border {
    background-color: silver;
    font-size: 20px;
    margin-bottom: 20px;
}

.border h2{
    text-align: center;
    margin-bottom: 20px;
    margin:3px;
}
 p {
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;

}
.details {
    display: inline-block;
    margin-left: 20px;
}

a{
    text-decoration: none;
    color: black;
    list-style-type: none;
} 

.pic2 {
    display: inline-flex;
    /* margin-left: 10px; */
     width:100%;
    text-align: center;

}
.next-to {
    display: inline-flex;
    margin-left:10px
}
 
.border ul li {
    list-style-type: none;
    display: block;
    text-align: center;
    align-items: space-between;
}
.titles {
    /* display: flex;
    flex-direction: row; */
    position: relative;
    margin: 2%;
    padding: 2%;
    max-width: 42%;
   width:40%;
}
.titles img{
    width:100%;
}
.titles header{
    position: absolute;
    top:10px;
    left:15px;
    background-color: black;
    color:white;
}

.projects{
    display:flex;
    flex-wrap: wrap;
    gap:2%;
}

#feature{
    width: 90%;
}

.titles:nth-child(1){
    min-width: 70%;
    max-width: 90%;;
}